@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas #page {
    overflow: hidden;
    position: absolute;
}

.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}

a {
    color: #8BC34A;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #8BC34A;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

::-webkit-selection {
    color: #fff;
    background: #8BC34A;
}

::-moz-selection {
    color: #fff;
    background: #8BC34A;
}

::selection {
    color: #fff;
    background: #8BC34A;
}

.fh5co-nav {
    width: 100%;
    padding: 0;
    z-index: 1001;
}

.fh5co-nav .top-menu {
    padding: 22px 0;
}

.fh5co-nav .top {
    padding: 0px 0;
    margin-bottom: 0;
    background: #8BC34A;
}

.fh5co-nav .top .num, .fh5co-nav .top .fh5co-social, .fh5co-nav .top .loc {
    display: inline-block;
    margin: 0;
    padding: 10px 12px;
    color: #fff !important;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .fh5co-nav .top .num, .fh5co-nav .top .fh5co-social, .fh5co-nav .top .loc {
        padding: 5px 10px;
        display: block;
        text-align: center;
        border: none !important;
    }
}

.fh5co-nav .top .loc {
    float: left;
    margin-top: 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
    .fh5co-nav .top .loc {
        display: none;
    }
}

.fh5co-nav .top .num {
    letter-spacing: 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.fh5co-nav .top .fh5co-social {
    margin: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.fh5co-nav .top .fh5co-social li {
    font-size: 14px;
    display: inline-block;
}

.fh5co-nav .top .fh5co-social li a {
    padding: 7px 7px;
}

.fh5co-nav .top .fh5co-social li a i {
    font-size: 14px;
    color: #fff;
}

.fh5co-nav #fh5co-logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.fh5co-nav #fh5co-logo a {
    color: #8BC34A;
    position: relative;
}

.fh5co-nav #fh5co-logo a span {
    color: #8BC34A;
}

@media screen and (max-width: 768px) {
    .fh5co-nav .menu-1 {
        display: none;
    }
}

.fh5co-nav ul {
    padding: 0;
    margin: 10px 0 0 0;
}

.fh5co-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-weight: 600;
    text-transform: uppercase;
}

.fh5co-nav ul li a {
    font-size: 12px;
    padding: 15px;
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a.active {
    color: black;
}

.fh5co-nav ul li.has-dropdown {
    position: relative;
}

.fh5co-nav ul li.has-dropdown .dropdown {
    width: 140px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 0;
    text-align: left;
    background: #000;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.fh5co-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #000;
    border-width: 8px;
    margin-left: -8px;
}

.fh5co-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
}

.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
}

.fh5co-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
}

.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
    color: #fff;
}

.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
    color: #000;
}

.fh5co-nav ul li.btn-cta a {
    padding: 15px 0 !important;
    color: #fff;
}

.fh5co-nav ul li.btn-cta a span {
    background: #8bc34a;
    padding: 7px 15px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

.fh5co-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.fh5co-nav ul li.active > a {
    font-weight: 600;
    color: #8bc34a;
}

#fh5co-hero {
    min-height: 650px;
    background: #fff url(../images/loader.gif) no-repeat center center;
}

#fh5co-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
}

#fh5co-hero .flexslider .slides {
    position: relative;
    overflow: hidden;
}

#fh5co-hero .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 630px;
    position: relative;
}

#fh5co-hero .flexslider .slides li:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#fh5co-hero .flexslider .flex-control-nav {
    bottom: 7em;
    z-index: 1000;
}

#fh5co-hero .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
}

#fh5co-hero .flexslider .flex-direction-nav {
    display: none;
}

#fh5co-hero .flexslider .slider-text {
    display: table;
    opacity: 0;
    min-height: 650px;
    z-index: 9;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    height: 700px;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner h1, #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    margin: 0;
    padding: 0;
    color: white;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    #fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
        font-size: 30px;
    }
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 a {
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .doc-holder {
    font-size: 24px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
    padding: 18px 30px !important;
    color: #fff;
    border: none !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
    background: #8BC34A !important;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
    font-size: 20px;
    color: #fff;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead .icon-heart {
    color: #d9534f;
}

.fh5co-bg-section {
    background: #f2f2f2;
}

#fh5co-services,
#fh5co-choose,
#fh5co-counter,
#fh5co-register,
.fh5co-departments,
.fh5co-pricing,
#fh5co-testimonial,
#fh5co-blog,
#fh5co-about,
#fh5co-doctor,
#fh5co-contact,
#fh5co-footer {
    padding: 7em 0;
    clear: both;
}

@media screen and (max-width: 768px) {
    #fh5co-services,
    #fh5co-choose,
    #fh5co-counter,
    #fh5co-register,
    .fh5co-departments,
    .fh5co-pricing,
    #fh5co-testimonial,
    #fh5co-blog,
    #fh5co-about,
    #fh5co-doctor,
    #fh5co-contact,
    #fh5co-footer {
        padding: 3em 0;
    }
}

#fh5co-footer {
    padding: 7em 0 0 0;
}

#fh5co-intro {
    position: relative;
    margin-top: -4em;
    z-index: 99;
    clear: both;
}

.intro {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
    float: left;
}

.intro-grid {
    padding: 4em 2.5em;
    color: rgba(255, 255, 255, 0.8) !important;
    overflow: hidden;
    position: relative;
    width: 33.333%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .intro-grid {
        width: 100%;
    }
}

.intro-grid .icon {
    position: absolute;
    top: 20px;
    right: -60px;
}

.intro-grid .icon i {
    font-size: 200px;
    color: rgba(255, 255, 255, 0.1);
}

.intro-grid .quick {
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

.intro-grid a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.intro-grid h3 {
    color: #fff;
}

.intro-grid.color-1 {
    background: #5fc9f8;
}

.intro-grid.color-2 {
    background: #6356E5;
}

.intro-grid.color-3 {
    background: #A82FFC;
}

.services {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.services h3 {
    font-size: 20px;
}

.services h3 a {
    color: #000;
}

.services .icon {
    width: 90px;
    height: 90px;
    background: rgba(0, 0, 0, 0.04);
    display: table;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 992px) {
    .services .icon {
        margin: 0 auto 30px auto;
    }
}

.services .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    line-height: 40px;
    color: #8BC34A;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.services:hover .icon, .services:focus .icon {
    background: #8BC34A;
}

.services:hover .icon i, .services:focus .icon i {
    color: #fff;
}

.fh5co-counters {
    padding: 7em 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.fh5co-counters .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(139, 195, 74, 0.9);
}

.fh5co-counters .fh5co-counter {
    font-size: 44px;
    display: block;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    font-weight: 400;
    margin-bottom: .1em;
}

.fh5co-counters .fh5co-counter-label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin-bottom: 2em;
    display: block;
    font-family: "Montserrat", sans-serif;
}

.fh5co-counters .icon i {
    font-size: 45px;
    color: #fff;
}

.fh5co-video {
    display: table;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .fh5co-video {
        height: 450px;
    }
}

.fh5co-video a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.fh5co-video a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
}

.fh5co-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fh5co-video:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
}

.fh5co-video:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.features {
    position: relative;
    margin-bottom: 30px;
}

.features h3 {
    font-size: 20px;
}

.features .icon {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 80px;
    height: 80px;
    background: #8BC34A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.features .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    font-size: 30px;
    color: #fff;
}

.features .desc {
    padding-left: 100px;
}

.fh5co-social-icons {
    margin: 0;
    padding: 0;
}

.fh5co-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #8BC34A;
    padding-left: 10px;
    padding-right: 10px;
}

.fh5co-social-icons li a i {
    font-size: 20px;
}

.fh5co-contact-info ul {
    padding: 0;
    margin: 0;
}

.fh5co-contact-info ul li {
    padding: 0 0 0 40px;
    margin: 0 0 30px 0;
    list-style: none;
    position: relative;
    color: rgba(0, 0, 0, 0.8);
}

.fh5co-contact-info ul li:before {
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: .05em;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fh5co-contact-info ul li.address:before {
    font-size: 30px;
    content: "\e9dc";
}

.fh5co-contact-info ul li.phone:before {
    font-size: 23px;
    content: "\ea3b";
}

.fh5co-contact-info ul li.email:before {
    font-size: 23px;
    content: "\e91e";
}

.fh5co-contact-info ul li.url:before {
    font-size: 23px;
    content: "\e9df";
}

.fh5co-contact-info ul li a {
    color: rgba(0, 0, 0, 0.8);
}

.fh5co-heading {
    margin-bottom: 5em;
}

.fh5co-heading h2 {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
    text-transform: uppercase;
    position: relative;
    display: block;
}

@media screen and (max-width: 768px) {
    .fh5co-heading h2 {
        font-size: 28px;
    }
}

.fh5co-heading h2 span {
    color: #8BC34A;
}

.fh5co-heading h2:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    content: '';
    width: 50px;
    height: 2px;
    margin: 0 auto;
    background: #8bc34a;
}

.fh5co-heading p {
    font-size: 14px;
}

#fh5co-blog {
    position: relative;
}

.fh5co-event {
    position: relative;
    padding-left: 110px;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.fh5co-event .date {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background: #8bc34a;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.fh5co-event .date span {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.fh5co-event h3 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.fh5co-event h3 a {
    color: black;
}

#fh5co-blog {
    position: relative;
}

#fh5co-blog .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(31, 95, 139, 0.7);
}

#fh5co-blog .blog-slide {
    position: relative;
    color: #fff !important;
}

#fh5co-blog .blog-slide .blog-box {
    display: block;
    width: 100%;
    height: 430px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #fh5co-blog .blog-slide .blog-box {
        width: 90%;
        margin: 0 auto;
    }
}

#fh5co-blog .blog-slide .blog-box:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 1;
    -webkit-box-shadow: inset 0px -108px 91px -24px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 0px -108px 91px -24px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px -108px 91px -24px rgba(0, 0, 0, 0.45);
}

#fh5co-blog .blog-slide .blog-box .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 2;
}

#fh5co-blog .blog-slide .blog-box .desc h3 {
    color: #fff;
}

#fh5co-blog .blog-slide .blog-box .desc .date {
    display: inline-block;
    margin-bottom: 7px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: #8BC34A;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#fh5co-blog .arrow-thumb {
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
}

#fh5co-blog .arrow-thumb a {
    font-size: 32px;
    color: #dadada;
}

#fh5co-blog .arrow-thumb a:hover, #fh5co-blog .arrow-thumb a:focus, #fh5co-blog .arrow-thumb a:active {
    text-decoration: none;
}

#fh5co-blog .owl-theme .owl-dots .owl-dot span {
    background: rgba(0, 0, 0, 0.3) !important;
}

#fh5co-blog .owl-theme .owl-dots .active span {
    background: black !important;
}

.blog-wrap {
    margin-bottom: 4em;
}

.blog-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.blog-desc {
    margin-bottom: 5em;
}

.blog-desc h2 a {
    color: rgba(0, 0, 0, 0.9);
}

.blog-desc .post-meta {
    display: block;
    margin-bottom: 15px;
}

.blog-desc .post-meta span {
    margin-right: 10px;
}

.blog-desc .post-meta span a {
    color: rgba(0, 0, 0, 0.3);
}

.comment-area {
    margin-bottom: 5em;
}

.comment-area h2 {
    display: block;
    padding: 1em;
    background: rgba(0, 0, 0, 0.08);
}

.sidebar {
    padding-left: 3em;
}

@media screen and (max-width: 768px) {
    .sidebar {
        padding-left: 0;
    }
}

.sidebar .side {
    margin-bottom: 4em;
}

.sidebar .side h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
}

.sidebar .side h2 span {
    color: #8BC34A;
}

.sidebar .side .list {
    margin: 0;
    padding: 0;
}

.sidebar .side .list li {
    list-style: none;
    font-size: 18px;
    display: block;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 10px;
}

.sidebar .side .list li a {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 34px;
}

.sidebar .side .list li a i {
    position: absolute;
    top: 5px;
    left: 0;
}

.sidebar .side .list li a .badge {
    position: absolute;
    background: #8BC34A;
    top: 5px;
    right: 0;
    font-weight: 300;
}

.sidebar .side .post {
    margin-bottom: 3em;
}

.sidebar .side .post .blog-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.sidebar .side .post .desc {
    padding-left: 120px;
}

.sidebar .side .post .desc h3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.sidebar .side .post .desc span {
    display: block;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.3);
}

#fh5co-register {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#fh5co-register .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.7);
}

#fh5co-register h2, #fh5co-register h3, #fh5co-register p {
    color: #fff;
}

#fh5co-register h2 {
    font-size: 60px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    #fh5co-register h2 {
        font-size: 30px;
    }
}

#fh5co-register h2 .color {
    color: #8BC34A;
}

#fh5co-register .countdown {
    margin-bottom: 20px;
    font-size: 60px;
    color: #fff;
}

#fh5co-register .countdown span {
    margin: 0 30px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

#fh5co-register .countdown small {
    display: block;
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

#fh5co-register .btn-reg {
    background: transparent;
    border: 2px solid #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.doctor {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 40px;
}

.doctor img {
    margin-bottom: 40px;
}

.doctor .staff-img {
    width: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    margin-bottom: 20px;
    display: table;
}

.doctor .staff-img:before {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.doctor .staff-img .fh5co-social {
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    height: 300px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}

.doctor .staff-img .fh5co-social li {
    display: inline-block;
    padding: 0 7px;
}

.doctor .staff-img .fh5co-social li i {
    font-size: 22px;
}

.doctor h2 {
    margin-bottom: 10px;
}

.doctor h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.doctor h3 a {
    color: #8BC34A;
}

.doctor span {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
}

.doctor:hover .staff-img:before {
    opacity: 1;
}

.doctor:hover .staff-img .fh5co-social {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.doctor .fh5co-social-icons {
    margin: 30px 0;
}

.doctor .fh5co-social-icons li a:first-child {
    padding-left: 0;
}

.doctor .desc {
    margin-bottom: 40px;
}

.doctor .contact-info h2 {
    margin-bottom: 30px;
}

.doctor .contact-info p {
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 2em;
    background: #8BC34A;
    position: relative;
}

.doctor .contact-info p i {
    font-size: 24px;
}

.doctor .contact-info p a {
    color: #fff;
}

.schedule {
    width: 100%;
    padding: 2em;
    background: #8BC34A;
    position: relative;
    margin-bottom: 20px;
}

.schedule .icon {
    position: absolute;
    top: 2.5em;
    left: 2em;
}

.schedule .icon i {
    font-size: 34px;
    color: #fff;
}

.schedule .desc {
    padding-left: 60px;
    color: #fff;
}

.schedule .desc span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.schedule .desc h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 8px;
}

.btn-big {
    display: block;
    width: 100%;
    float: left;
}

.btn-big a {
    width: 100%;
    float: left;
    display: block;
    font-size: 20px;
    padding: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.department-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
    float: left;
}

.department-wrap .grid-1, .department-wrap .grid-2 {
    width: 50%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .department-wrap .grid-1, .department-wrap .grid-2 {
        width: 100%;
    }
}

.department-wrap .grid-1 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

@media screen and (max-width: 768px) {
    .department-wrap .grid-1 {
        height: 300px;
    }
}

.department-wrap .grid-2 {
    background: #8BC34A;
}

.department-wrap .grid-2 .desc {
    padding: 4em 3em;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .department-wrap .grid-2 .desc {
        padding: 1em;
    }
}

.department-wrap .grid-2 .desc h2 a {
    color: #fff;
}

.department-wrap .grid-2 .desc p {
    font-size: 20px;
}

.department-wrap .grid-2.color-1 {
    background: #5fc9f8;
}

.department-wrap .grid-2.color-2 {
    background: #6356E5;
}

.department-wrap .grid-2.color-3 {
    background: #A82FFC;
}

.department-wrap .department-info {
    margin-top: 40px;
    display: block;
}

.department-wrap .department-info .block {
    margin-bottom: 30px;
    padding: 1em;
    display: block;
    color: white;
    background: #b0d683;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.department-wrap .department-info .block h2 {
    color: white;
}

.department-wrap .department-info .block:hover {
    background: #d5e9bd;
}

.department-wrap .department-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan {
    margin: 0;
    padding: 10px;
}

.plan li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.plan li span {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    display: inline-block;
}

.plan li span:first-child {
    width: 85%;
}

.plan li span:last-child {
    width: 15%;
    text-align: right;
    color: #8BC34A;
}

.testimony {
    position: relative;
    padding: 3em 2em 2em 2em;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.27);
}

@media screen and (max-width: 768px) {
    .testimony {
        margin-bottom: 40px;
    }
}

.testimony .icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: -30px;
    margin-left: 50%;
    display: table;
    background: #8BC34A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.testimony .icon i {
    color: #fff;
    height: 60px;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}

.testimony blockquote {
    padding: 0;
    margin: 0 0 10px 0;
    border: none;
}

.testimony blockquote p {
    color: #000;
    font-size: 20px;
}

#fh5co-gallery {
    padding-top: 2.5em;
}

#fh5co-gallery h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2.5em;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

#fh5co-gallery h2 span {
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    position: relative;
}

#fh5co-gallery h2 span:before, #fh5co-gallery h2 span:after {
    position: absolute;
    top: 18px;
    bottom: 0;
    content: '';
    width: 100px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

#fh5co-gallery h2 span:before {
    lett: 0;
    margin-left: -125px;
}

#fh5co-gallery h2 span:after {
    right: 0;
    margin-right: -110px;
}

.gallery {
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

.gallery:hover {
    -webkit-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
}

#fh5co-footer {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff !important;
}

#fh5co-footer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#fh5co-footer .logo {
    color: #8BC34A !important;
}

#fh5co-footer .fh5co-footer-links {
    padding: 0;
    margin: 0;
}

#fh5co-footer .fh5co-footer-links li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#fh5co-footer .fh5co-footer-links li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#fh5co-footer .fh5co-footer-links li a:hover {
    text-decoration: underline;
}

#fh5co-footer .fh5co-widget {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    #fh5co-footer .fh5co-widget {
        text-align: left;
    }
}

#fh5co-footer .fh5co-widget h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #fff;
}

#fh5co-footer .form-group input[type="name"],
#fh5co-footer .form-group input[type="text"],
#fh5co-footer .form-group input[type="email"],
#fh5co-footer .form-group textarea {
    font-size: 18px;
}

#fh5co-footer .form-group input[type="name"]::-webkit-input-placeholder,
#fh5co-footer .form-group input[type="text"]::-webkit-input-placeholder,
#fh5co-footer .form-group input[type="email"]::-webkit-input-placeholder,
#fh5co-footer .form-group textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-footer .form-group input[type="name"]:-moz-placeholder,
#fh5co-footer .form-group input[type="text"]:-moz-placeholder,
#fh5co-footer .form-group input[type="email"]:-moz-placeholder,
#fh5co-footer .form-group textarea:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-footer .form-group input[type="name"]::-moz-placeholder,
#fh5co-footer .form-group input[type="text"]::-moz-placeholder,
#fh5co-footer .form-group input[type="email"]::-moz-placeholder,
#fh5co-footer .form-group textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-footer .form-group input[type="name"]:-ms-input-placeholder,
#fh5co-footer .form-group input[type="text"]:-ms-input-placeholder,
#fh5co-footer .form-group input[type="email"]:-ms-input-placeholder,
#fh5co-footer .form-group textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-footer .form-group input {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
}

#fh5co-footer .form-group textarea {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
}

#fh5co-footer .form-group #btn-submit {
    background: #8BC34A;
}

#fh5co-footer .copyright {
    background: #000;
    padding: 2em;
}

#fh5co-footer .copyright .block {
    display: block;
}

#fh5co-footer .copyright .block a {
    color: rgba(255, 255, 255, 0.5);
}

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

.appointment-wrap {
    border: 4px solid rgba(0, 0, 0, 0.03);
    padding: 3em;
}

#fh5co-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 75px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #fh5co-offcanvas {
        display: block;
    }
}

.offcanvas #fh5co-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#fh5co-offcanvas a {
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-offcanvas a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#fh5co-offcanvas ul {
    padding: 0;
    margin: 0;
}

#fh5co-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#fh5co-offcanvas ul li > ul {
    padding-left: 20px;
    display: none;
}

#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
    display: block;
    position: relative;
}

#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
    position: absolute;
    right: 0px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\ea1c";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #8BC34A;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none;
}

.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    margin-top: -10px;
}

.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #444;
}

.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.fh5co-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out;
}

.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

.fh5co-nav-toggle.fh5co-nav-white > i {
    color: #fff;
    background: #000;
}

.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
    background: #000;
}

.fh5co-nav-toggle.fh5co-nav-white.active > i {
    color: #fff;
    background: #000;
}

.fh5co-nav-toggle.fh5co-nav-white.active > i::before, .fh5co-nav-toggle.fh5co-nav-white.active > i::after {
    background: #fff;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: absolute;
    right: 0px;
    top: 25px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}

.btn.btn-md {
    padding: 8px 20px !important;
}

.btn.btn-lg {
    padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #8BC34A;
    color: #fff;
    border: 2px solid #8BC34A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #97c95d !important;
    border-color: #97c95d !important;
}

.btn-primary.btn-outline {
    background: transparent;
    color: #8BC34A;
    border: 2px solid #8BC34A;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #8BC34A;
    color: #fff;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
}

.btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}

.btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}

.btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    box-shadow: none;
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn.with-arrow:hover {
    padding-right: 50px;
}

.btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1;
}

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 14px;
    font-weight: 400;
}

.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #8BC34A;
}

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}

.fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}

.row-padded-mb {
    margin-bottom: 3em !important;
}

.col-padded {
    margin: 0 !important;
    padding: 0 !important;
}

.js .animate-box {
    opacity: 0;
}

#sticky_item {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#sticky_item.is_stuck {
    margin-top: 10px;
}

@media screen and (max-width: 992px) {
    .sticky-parent {
        clear: both;
        height: inherit !important;
        float: left;
        padding-top: 30px;
    }
}

form label {
    font-weight: normal !important;
}

form label.error {
    color: #B90B0B;
    font-size: 16px !important;
    text-transform: none !important;
    letter-spacing: auto;
}

#message {
    resize: vertical;
}

#form-message-warning, #form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 16px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: normal;
    font-size: 16px;
}

/*# sourceMappingURL=style-3.css.map */
